.wrap {
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  text-shadow: 2px 4px black;
}

.accordion {
  margin: 0;
  list-style: none outside;
  padding:10px 0px 0px 0px;
  width:793px;
}

.accordion > * + * { border-top: 1px solid white; }

.accordion-item-hd {
  display: block;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border:1px solid #ccc;
  margin-top:10px;
  font-weight:600;
}

.accordion-item-input:checked ~ .accordion-item-bd {
  max-height: 1000px;
  padding: 10px 0px 10px 0px;
  -webkit-transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
  transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
}

.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.accordion-item-hd-cta {
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    right: 6px;
    text-align: center;
    top: calc(43% - 9px);
    transform: rotate(-180deg);
    transition: transform 0.3s ease 0s;
    width: 30px;
	color:#e24a2a;
}


.accordion-item-bd {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
  transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
}

.accordion-item-bd p {margin:0px;}

.accordion-item-input {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}