/*  980px  */
@media all and (max-width: 1279px) {

.grid-1200, .banner-caption span, .banner-caption, .nav_wrapper {   width: 96%;}

.slide {height:320px;}

.banner1, .banner2, .banner3,  .banner4 {    height: 320px; background-size:auto 100%;}

.banner-caption {padding-top:100px;}

#top-navigation {position:relative; height:45px; width:100% !important;}

.nav_wrapper {top:-1px; width:100%;}

.spinner-master {   margin: 8px;}

.spinner-master .spinner {    background-color: #fff;}

.menu, .menu > ul ul {top:0px; background:#be3333;  }

.menu {border-top:1px solid #dc5656;}

#menu ul li:nth-child(2) > .sub-menu, #menu ul li:nth-child(4) > .sub-menu, #menu ul li:nth-child(7) > .sub-menu {    min-width: 100% !important;    width: 100% !important;}

.menu ul ul { padding:0px !important;}

.menu ul li > a {      text-align: left;}

.menu ul li.hover > a {background: #a11a1a; color:#fff;}

.menu ul ul > li a {    background-color: #a11a1a;}

.sub-menu  {top:0px !important; position:relative !important; display:table;}

.has-submenu  {display:table; width:100%;}

.menu.active, .menu > ul ul.active { max-height:1000px; position: relative;}

.menu ul li {height:auto;}

.menu li li a {    font-size: 13px !important;}

.menu ul li a {   border-bottom: 1px solid #dc5656;}

.menu ul ul > li a {       padding: 6px 10px;}

.menu ul ul li a {    border-top: 0px solid #c22c2c;}

.news textarea {width:600px;}

.banner3 .banner-caption {padding-top:70px !important;}

.banner-caption {font-size:14px;}

.banner-caption span {font-size:40px;}

.news { background-position: -390px 0;}

.slider .slide_left, .slider .slide_right { top: 40%;}

#message-1 p, #message-2 p {    font-size: 16px !important;    font-weight: 300;    line-height: 26px !important;}

h2, h3 {  font-size: 20px;    font-weight: bold;}

#message-1 h2::after, #message-2 h2::after {margin: 15px 0 20px 160px;}

.half {    margin: 30px 0 30px 0;    width: 50%;}

.photo-box {line-height:18px;}

.twenty-five-percent {width: 23.5%;}

.twenty-five-percent img {width:100%;}

.photo-box {margin-bottom:130px;}

.sliderwrapper, .home-left-panel {    width: 100%; margin-bottom:0px;}

.home-right-panel {    float: none;    margin: 0;    width: 100%;     clear: both;}

#staff-box-1 { float:left; width: 48.5%; margin-bottom:30px;}

#staff-box-2 { float:right; width: 48.5%; margin-bottom:30px;}

.home-right-panel br {display:none;}

#p-select, #p-select2, .glidecontentwrapper, .glidecontent {width:100% !important;}

.glidecontenttoggler {background-repeat:no-repeat;}

.pagination {    width: 100%; text-align:center;}

.subject-box {    margin: 0 15px 30px 0;}

.inside-banner {margin-top:0px;}

.icon-box {margin: 0 17px 20px 0;}

.book-search-box {width:400px;}

.slider-demo {    width: 830px;}

#slider-inner li { margin: 0 10px 0 0;}

a#next {    margin-left: 830px !important;}



}








/*  768px  */
@media all and (max-width: 979px) {

.news textarea {    width: 525px;}

.logo img {    margin: 10px 0;    width: 310px;}

.photo-box {   margin-bottom: 20px;    text-align: center;    width: 100%;}

.photo-box  br {display:none;}

.photo-box img {margin:0px auto 20px auto;}

#message-1 h2 , #message-2 h2 {text-align:center;}

#message-1 p, #message-2 p {text-align:center;}

#message-1 h2::after, #message-2 h2::after {margin: 20px auto;}

.twenty-five-percent {    width: 23.2%;}

h3 {    font-size: 16px;}

.cream-bg {    padding: 30px 0;}

.glidecontenttoggler {background-position:-50px;}

.glidecontent {font-size:15px;}

.glidecontent img {    width: 80px;}

.glidecontentwrapper {    height: 120px;}

.footer-column {    width: 33%; min-height: 415px;}

footer li {    font-size: 14px;    margin-bottom: 5px;    width: 90%;}

.subject-box {    margin: 0 20px 30px 0;    width: 22%;}

.icon-box {    margin: 0 22px 20px 0; width: 22%;}

#photo-box-inside {display:inline-block !important; float:left !important; width:auto;}

.message-text {    width: 75%;}

.book-search-box {    width: 250px;}

.slider-demo {    width: 620px;}

a#next {    margin-left: 620px !important;}

.library-banner .grid-1200 {    padding-top: 120px !important;}

.library-banner { height:300px;}

.library-icon img {    margin-right: 0px; float:none; display:block; margin:auto;}

.library-icon:hover { background-image:none;}

.library-icon a {text-align:center; padding: 20px 20px 0;}

.half {  width: 100%; margin:0px;}

.column-2, .column-3 { padding-left:20px;}

#information-box-1, #information-box-2 {    height: 360px;    margin-bottom: 30px;    margin-top: 20px; padding:20px;}




}










/*  640px  */
@media all and (max-width: 767px) {
	
	
.copyright-left, .designed {    display: block;    float: none;    text-align: center;    width: 100%;}

#staff-box-1 { float:none; width: 100%; margin-bottom:20px;}

#staff-box-2 { float:none; width: 100%; margin-bottom:20px;}

.twenty-five-percent {    width: 47%; margin-right:30px; margin-bottom:50px;}

.twenty-five-percent:nth-child(2), .twenty-five-percent:nth-child(4) {margin-right:0px; float:right;}

.sliderwrapper, .home-left-panel {    margin-top: 0;}

.news textarea {    width: 425px;}

.logo img {    width: 250px;}

.search, .social-media {margin-top:25px;}

.banner-caption span {    font-size: 30px; line-height:50px;}

.banner-caption  {letter-spacing:2px;}

.news textarea {margin-left:50px;}

.news {    background-position: -415px 0;}

.banner-caption {    padding-top: 120px;}

.subject-box {   margin: 0 10px 30px 0;    width: 23%;}

.icon-box {    margin: 0 20px 20px 0;    width: 29%;}

.rounded-image {    width: 150px;}

.half-left, .half-right {width:100%;}

.message-text {    width: 72%;}

.column-1, .column-2, .column-3 {width:100%; border:0px; height:auto !important; padding:0px !important; margin:0px;}

.staff-box {    margin: 0 18px 20px 0;}

#information-box-1, #information-box-2 {width:100%; height:auto;}

.book-search-box {   clear: right;    margin-bottom: 1px;    width: 430px;}

.library-banner .grid-1200 {    padding-top: 90px !important;  width: 430px !important; margin:auto !important;}

#slider-inner img {    padding: 5px;    width: 100px;}

.slider-demo {    width: 485px;}

#slider-inner li { height:200px;}

#slider-inner {    height: 200px;}

a#previous {   margin-top: 60px;}

a#next {    margin-left: 488px !important;  margin-top: 60px;}

.big-icon {    margin: 0 30px 50px 0;    width: 80px;}

.gray .half  {width:80%; margin:auto; float:none; clear:both;}

h6 {    font-size: 16px;    margin: 0;}

body {font-size:14px !important;}



}









/*  480px  */
@media all and (max-width: 639px) {


.search {position:absolute; top:86px; z-index:100000; margin:0px; right:10px;}

.news {height:80px; background:#ffd451; background-image:none; }

.news .grid-1200 {width:100%;}

.news textarea { color:#000; height:80px; padding:15px; margin:0px; width:100%; box-sizing:border-box;}

.lastest-news {    display:none;}

#message-1, #message-2 {width:90%; border:0px; padding:0px; float:none; margin:auto;}

#message-2  {border-top:1px solid #ccc; padding-top:30px; }

.twenty-five-percent {    margin-bottom: 50px;    margin-right: 10px;    width: 48%;}

.sliderwrapper img {    height: auto;    width: 100%;}

.sliderwrapper .contentdiv {width:100%; height:auto;}

.sliderwrapper {height:200px;}

.footer-column {    min-height: 500px;    width: 50%;}

.text-searchbox, .go {background-color:#fff; border:0px;}

.subject-box {   margin: 0 17px 20px 0;    width: 29%;}

.subject-box span {    height: 30px;    line-height: 15px;    padding: 20px 0;}

.icon-box {   margin: 0 20px 20px 0 !important;    width: 47%;}

.icon-box:nth-child(odd) { margin-right:0px !important;}

.grid-1200, .banner-caption span, .banner-caption {    width: 94%;}

.rounded-image {    width: 100px;}

.right-icon-panel {    display: table;    float: none;    margin: 20px 0 20px 0px;    width: 100%;}

.right-icon-panel .icon-box:nth-child(odd), .right-icon-panel .icon-box {  margin: 0 15px 15px 0 !important;  }

.message-text {    width: 100%;}

#photo-box-inside {    display: block !important;    float: none !important;    width: 100%; text-align:center; margin:0px !important;}

.library-icon a {    font-size: 14px;    line-height: 22px;}

.gray .half {    width: 100%;}

.gray .half p {    font-size: 12px;}

.library-icon a {    height: 120px;}

.library-icon img {    margin: auto auto 10px;}

.slider-demo {    width: 358px;}

a#next {    margin-left: 358px !important;    margin-top: 60px;}



}




/*  360px  */
@media all and (max-width: 479px) {
	
.copyright {   font-size: 11px;    letter-spacing: 0;    line-height: 18px;    text-transform: none;}

.footer-column {width:100%; height:auto; min-height:auto; margin-bottom:30px; text-align:center;}

footer li {    width: 100%;}

h5::after { margin:10px auto;}

.grid-1200, .banner-caption span, .banner-caption {    width: 92%;}

.sliderwrapper {    height: 160px;}

.twenty-five-percent { width:100%;}   

.news {height:70px;}

.logo img {    width: 200px;}

.social-media img {    width: 22px;}

.search {top:75px;}
	

.slide {height:200px;}

.banner1, .banner2, .banner3,  .banner4 {    height: 200px; background-size:auto 100%;}	

.slider .slide_left {left:0px; }

.slider .slide_right {right:0px;}

.banner-caption {    padding-top: 60px;}

.banner-caption span {   font-size: 18px;    line-height: 30px;}

.banner-caption {    font-size: 10px; line-height:16px; padding:60px 30px 0px 30px; box-sizing:border-box;}

.slider .slider_nav {display:none;}

.banner3 .banner-caption {    padding-top: 50px !important;}

.subject-box {    margin: 0 12px 20px 0;    width: 47%;}

.subject-box:nth-child(odd) { margin-right:0px;}

h2::after { margin: 15px 0;}

h2 {margin-top:20px;}

.icon-box {   margin: 0 15px 20px 0;    width: 46%; height: 180px;}

.icon-box a {    height: 178px;}

.italic-text {    font-size: 14px;}

.cream-box {    padding: 10px 20px 20px;}

.right-icon-panel .icon-box {width:30%;}

.right-icon-panel .icon-box:nth-child(3), .right-icon-panel .icon-box:nth-child(6),.right-icon-panel .icon-box:nth-child(9), .right-icon-panel .icon-box:nth-child(12), .right-icon-panel .icon-box:nth-child(15), .right-icon-panel .icon-box:nth-child(18) {margin-right:0px !important;}

.staff-box {    border: 1px solid #ddd;    margin: 0 18px 20px 0;    padding-top: 60px;    text-align: center;    width: 100%;}

.book-search-box {width:300px;}

.library-banner .grid-1200 {   margin: auto !important;    padding-top: 50px !important;    width: 300px !important;}

.select-box {    width: 100%;}

.designer-select-box {width:99.8%; background: #fff url("../images/downarrow.png") no-repeat scroll 98% center;}

.search-button {width:99.8%;}

.big-icon {   display: block;    float: none;    margin: auto;    width: 80px;}

h6 {   font-size: 16px;    margin:10px  0;    text-align: center;}

.gray .half p {   font-size: 12px;    text-align: center;}

.slider-demo {    width: 236px;}

a#next {    margin-left: 236px !important;    margin-top: 60px;}

.designer-select-box {height:55px; margin-bottom:1px;  padding: 12px;}


}




/*  320px  */
@media all and (max-width: 359px) {
	
.logo img {    margin-left: -5px;    width: 190px;}

.search {    top: 72px;}

.glidecontenttoggler { font-size:15px; padding: 5px 10px 0 20px;}

.glidecontenttoggler {    background-position: -90px center;}

.right-icon-panel .icon-box {width:29%;}

	
}