@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic' );
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700' );
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' );



body {
    color: #333;
    font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
	margin:0px;
}

.grid-1200 {
	margin:auto;
	width:100%;
	max-width:1200px;
	height:auto;
	display:table;
}

a{transition: all 0.5s ease-in 0s; text-decoration:none;  color: #be3333; }

.clear{clear:both;}

p{margin-top:0px; text-align:left; 	font-size:14px;	line-height:24px; font-weight:400; margin-bottom:20px;}

img {border:0px;}

form{margin:0px;}

.three-lines {
	display:inline-block;
	float:right;
	margin:18px 0px 0px 20px
}

.logo {
	display:inline-block;
	float:left;
}

.logo img{margin:10px 0px; }



.three-lines {display:none;}

.top-navigation {
	display:block;
	width:100%;
	margin:auto;
	position:absolute;
	z-index:1000;
	background:#be3333;

}






footer {
	background:#f5f5f5;
	padding:30px 0px 50px 0px;
	width:100%;
	margin:auto;	
	box-sizing:border-box;
	color:#999;
	line-height:30px;
}


.footer-column {
	width:16%;
	float:left;
}

.footer-column a{
	display:block;
	line-height:22px;
}


footer a{color:#333;}

footer a:hover{color:#666;}




.copyright{
	display:block;
	background:#e6e6e6;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	line-height:18px;
	clear:both;
	padding:30px 0px;
}

.copyright a{border-bottom:1px solid #666; color:#666;}

.copyright-left { display:inline-block; float:left;}

.designed {float:right; display:inline-block;}






.float-left {
    float: left;
}


.float-right {
    float: right;
}



h5::after {
    background: #978a61 none repeat scroll 0 0;
    content: "\a ";
    display: block;
    height: 2px;
    margin: 10px 0;
    text-align: left;
    width: 40px;
}


h5 {
    font-size: 15px;
	color:#be3333;
	font-weight:700;
	font-family:Bitter, Arial, Helvetica, sans-serif;
}

footer ul {margin:0px; padding:0px;}

footer li {list-style:none; margin-bottom:10px; width:90%;}

.search {
	display:inline-block;
	float:right;
	margin-top:33px;
	margin-right:20px;
}

.social-media {
	display:inline-block;
	float:right;
	margin-top:33px;
}

.social-media a {opacity:0.5; float:left; margin-left:3px;}

.social-media a:hover {opacity:1.0}

.text-searchbox {
	width:150px;
	border-radius:20px 0px 0px 20px;
	border:1px solid #eee;
	padding:5px 10px;
	background:#f7f7f7;
	border-right:0px;
	height:30px;
	box-sizing:border-box;
	color:#999;
	float:left;
}

.go {
	width:30px;
	height:30px;
	border-radius:0px 20px 20px 0px;
	border:0px;
	background:transparent;
	background-image:url(../images/lens.png);
	background-position:center center;
	background-repeat:no-repeat;
	border:1px solid #eee;
	padding:5px;
	background-color:#f7f7f7;
	border-left:0px;
	box-sizing:border-box;
	cursor:pointer;
}

.cream-bg {
	background:#f6f3db;
	padding:60px 0px;
}

.cream-bg img { margin:20px 0px;}

h3::after {
    background: #978a61 none repeat scroll 0 0;
    content: "\a ";
    display: block;
    height: 2px;
    margin: 10px 0;
    text-align: left;
    width: 40px;
}


h3 {
    font-size: 24px;
	color:#be3333;
	font-weight:700;
	font-family:Bitter, Arial, Helvetica, sans-serif;
}


h4 {
    font-size: 18px;
	color:#be3333;
	font-weight:700;
	font-family:Bitter, Arial, Helvetica, sans-serif;
}


.twenty-five-percent {
	width:24%;
	float:left;
	margin-right:16px;
	box-sizing:border-box;
}

a.readmore:link, a.readmore:active, a.readmore:visited, a.readmore:hover {
	color:#a11a1a;
	border-bottom:1px solid #a11a1a;
}

.no-margin { margin-right:0px;}

.half {
	width:50%;
	margin:50px 0px;
}

.photo-box {
	float:left;
	display:inline-block;
	margin-right:40px;
	margin-bottom:190px;
	color:#c03135; 
	font-family:Bitter, Arial, Helvetica, sans-serif;
	font-style:italic;
	text-align:center;
}

.photo-box img {
	display:block;
	margin-bottom:20px;
}

#message-1 {
	border-right:1px solid #ccc;
	box-sizing:border-box;
	padding-right:40px;
}


#message-2 {
	box-sizing:border-box;
	padding-left:40px;
}


#message-1 p, #message-2 p {
    font-size: 20px !important;
    font-weight: 300;
    line-height: 36px !important;
}

h2 {
	font-size:30px;
	color:#a11a1a;
	font-family:Bitter, Arial, Helvetica, sans-serif;
	margin-top:30px;
}



h2::after {
    background: #978a61 none repeat scroll 0 0;
    content: "\a ";
    display: block;
    height: 2px;
    margin: 20px 0;
    text-align: left;
    width: 40px;
	margin-left:0px;
}


#message-1  h2::after, #message-2  h2::after {
    background: #978a61 none repeat scroll 0 0;
    content: "\a ";
    display: block;
    height: 2px;
    margin: 20px 0;
    text-align: left;
    width: 40px;
	margin-left:160px;
}

.news {
	height:50px;
	background-image:url(../images/news-stripe.png);
	background-repeat:no-repeat;
	background-position:center top;
}

.lastest-news {
	text-transform:uppercase;
	font-size:12px;
	font-size:14px;
	letter-spacing:3px;
	line-height:44px;
	color:#a11a1a;
	font-weight:500;
	display:inline-block;
	float:left;
	
}

.news textarea {background-color:transparent; width:1000px; margin:11px 0px 0px 75px; font-family:Bitter; font-style:italic; color:#666; font-size:14px;}


.home-right-panel {
	float:right;
	width:380px;
	display:table;
	margin:30px 0px;
}

.home-left-panel {
	float:left;
	width:785px;
	display:table;
	margin:30px 0px 80px 0px;
}

.pipe {float:right; margin-top:4px; margin-right:2px;}


.inside-banner {
    background: #ededed none repeat scroll center top;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    height: 70px;
    letter-spacing: 3px;
    line-height: 70px;
    margin-top: 45px;
    text-transform: uppercase;
    width: 100%;
}

.data-table {
	border-collapse:collapse;
}

.data-table th {
	padding:10px 6px;
	border:1px solid #ccc;
	border-bottom:3px solid #be3333;
	background:#f6f6f6;
}


.data-table td {
	padding:7px;
	border:1px solid #ccc;
}

strong {font-weight:900;}

.red-bold { color:#be3333;	font-weight:700;	font-family:Bitter, Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:16px;}


ol li {line-height:20px; margin-bottom:5px;}


.face {
	float:left;
	border-radius:1000px;
	width:60px;
	height:60px;
}


.listing { padding:0px 0px 0px 20px; margin:20px 0px 20px 0px; display:table;}

.listing li { padding-left:10px; margin-bottom:10px; list-style-image:url(../images/bullet.png)}

.gray-box {
	background:#f6f3db;
	padding:25px;
	font-family:Bitter, Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:32px !important;
	font-style:italic;
}



.gray-box  ol li {line-height:20px; margin-bottom:0px;}

.map-box, .gap {
	position:absolute;
	width:100%;
	height:600px;
	left:0px;
}

.gap {position:relative;}



.library-banner {
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    height: 500px;
    width: 100%;
	background-image:url(../images/lobrary-banner.jpg);
	background-position:center top;
}

.designer-select-box {
    -moz-appearance: none;
    background: transparent url("../images/downarrow.png") no-repeat scroll 92% center;
    border: 0px solid #fff;
    color: #666;
    font-family: 'Source Sans',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 60px;
    margin-right: 1px;
    outline: medium none;
    padding: 20px;
    text-indent: 0.01px;
    text-overflow: "";
    width: 250px;
	background-color:#fff;
	float:left;
}


.designer-select-box option {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-family: 'Source Sans',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 7px;
}

.book-search-box {
	padding:20px;
	background:#fff;
	border:0px;
	font-weight:300;
	font-size:16px;
	font-family:'Source Sans', Arial;
	color:#666;
	float:left;
	height:60px;
	box-sizing:border-box;
	margin-right:1px;
	width:500px;
}

.search-button {
	width:200px;
	background:#ffd451;
	padding:20px;
	font-size:16px;
	font-family:'Montserrat', Arial;
	font-weight:900;
	text-transform:uppercase;
	font-size:20px;
	font-weight:normal;
	letter-spacing:2px;
	border:0px;
	float:left;
	height:60px;
}


.search-button:hover {
	background:#be3333;
	color:#fff;
}

.yellow {
	background-color:#ffd451;
}

.library-icon {
	text-transform:uppercase;
	float:left;
	width:33%;
	border-left:1px solid #000;
	padding:20px 20px;
	box-sizing:border-box;
}

.library-icon:hover {background-color:#ffdd76;}

.library-icon a{
	color:#000;
	font-family:'Montserrat', Arial;
	font-weight:900;
	font-size:16px;
	line-height:60px;

}

.library-icon img{
	float:left;
	margin-right:20px;
}