.glidecontentwrapper{
position: relative; /* Do not change this value */
width: 380px;
height: 160px; /* Set height to be able to contain height of largest content shown*/
border: 0px solid #687C98;
overflow: hidden;
}
/*
	Total wrapper width: 350px+5px+5px=360px
	Or width of wrapper div itself plus any left and right CSS border and padding
	Adjust related containers below according to comments
*/


.glidecontent{ /*style for each glide content DIV within wrapper.*/
position: absolute; /* Do not change this value */
padding: 0px;
visibility: hidden;
width: 380px;
padding:20px;
background-color:#f6f3db;
font-size:18px;
box-sizing:border-box;
}

.glidecontent  img {
	float:left;
	margin-right:20px;
}

.glidecontent strong {display:block; font-family:Bitter, Arial, Helvetica, sans-serif;}

/*
 Total glidecontent width: 330px+10px+10px=350px
	Or width of wrapper div itself (not counting wrapper border/padding)
*/

.glidecontenttoggler{ /*style for DIV used to contain toggler links. */
width: 380px;
background-image:url(../images/heading-bg.png);
background-color:#f6f3db;
height:38px;
padding:7px 10px 0px 20px;
font-size:18px;
color:#fff;
font-family:Bitter, Arial, Helvetica, sans-serif;
font-weight:bold;
box-sizing:border-box;
text-align: left; /*How to align pagination links: "left", "center", or "right"
background: white; /*always declare an explicit background color for fade effect to properly render in IE*/
}
/*
 Total contenttoggler width: 350px+5px+5px=360px
	Or total width of wrapper div (counting wrapper border/padding)
*/

.glidecontenttoggler a{ /*style for every navigational link within toggler */
display: -moz-inline-box;
display: inline-block;
color: #718278;
margin-right: 3px;
font-weight: bold;
font-size:16px;
text-decoration: none;
font-family:Verdana, Geneva, sans-serif;
}

.glidecontenttoggler a.selected{ /*style for selected page's toggler link. ".selected" class auto generated! */
color: #FF8B07;
}

.glidecontenttoggler a:hover{
color: #9FB5A8;
}

.glidecontenttoggler a.toc{ /*style for individual toggler links (page 1, page 2, etc). ".toc" class auto generated! */
}

.glidecontenttoggler a.prev, .glidecontenttoggler a.next{ /*style for "prev" and "next" toggler links. ".prev" and ".next" classes auto generated! */
float:right;
margin-top:4px;
}

.glidecontenttoggler a.prev:hover, .glidecontenttoggler a.next:hover{

}