a#next {
  transition: all ease 0.5s;
  position:absolute;
  margin-top:130px;
  margin-left:1200px !important;
}

a#next:hover { 

 }

a#previous {
  transition: all ease 0.5s;
  position:absolute;
  margin-top:130px;
  margin-left:-75px;
}

a#previous:hover {  }

.slider-demo {
  margin: 0px auto;
  text-align: center;
  width: 1200px;
  overflow:hidden;
}

.slider-demo a {
  border-radius: 50%;
  color: #444;
  font-size: 5em;
  line-height: 60px;
  padding-bottom: 12px;
  position: relative;
  text-decoration: none;
  width: 72px;
  z-index: 2;
}

.slider-demo a:hover {
  color: #fff;
  background-color: #be3333;
}

.slider-demo a,
#slider-inner {
  display: inline-block;
  vertical-align: middle;
}

#slider-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height:325px;
  z-index: 5;
}

#slider-inner ul {
  margin: 0;
  padding: 0;
  position: relative;
  width: 1200px;
}

#slider-inner li {
  font-size: 30px;
  float: left;
  height: 325px;
  line-height: 325px;
  list-style: none;
  margin: 0;
  position: relative;
  width: auto;
  margin-right:50px;
}


#slider-inner img {
    margin: 0px !important;
	padding:8px;
	border:1px solid #999;
	background:#fff;
}