


/********** MAIN **********/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline:none;
	filter:inherit;
}
.clearme{
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
}
#access{
	display:none;
}

@media only screen and (max-device-width: 480px) {
	html,
	body{
		-webkit-text-size-adjust:none;
		text-size-adjust:none;
	}
}




/********** FONTS **********/
h1{
	font-size:26px;
	line-height:33px;
	margin:0 0 22px;
	font-weight:lighter;
}
h2{
	font-size:23px;
	line-height:28px;
	margin:0 0 17px;
	font-weight:lighter;
}
h2 span{
	font-size:13px;
	font-weight:lighter;
	margin-left:10px;
}
h4{
	font-size:16px;
	font-weight:bold;
	margin:0 0 12px;
}

p+p{
	margin-top:10px;
}

a{
	cursor:pointer;
	color:#333;
	
	transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
}


ul,
ol{
	margin-left:30px;
}

.bold{
	font-weight:bold;
}
.red{
	color:#F00;
}

table{
	border-collapse:collapse;
}



.btn,
.btn:hover{
	display:inline-block;
	position:relative;
	padding:7px 20px 7px;
	border-radius:4px;
	background:#0da2da;
	font-size:16px;
	line-height:16px;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	cursor:pointer;
	
	transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
}
.btn:hover{
	background:#067199;
}


input[type="button"], input[type="submit"], input[type="reset"]{
	-webkit-appearance:none;
}


.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}



/********************************************************************/
/****************************** GENERAL *****************************/
/********************************************************************/






/********** CONTENT **********/
#content{
	display:block;
	position:relative;
	max-width:940px;
	margin:0 auto;
	padding:0 20px;
}
.container{
	position:relative;
	width:auto;
	margin:0 auto;
	padding:0px;
	max-width:100%;
}
.container+.container{
	padding-top:38px;
	border-top:1px solid #E9E9E9;
}



/********** SLIDERS **********/
.slide{
	width:400px;
	height:454px;
	background:rgba(0,0,0,0.05);
}

.photo-slider .slide{
	height:288px;
	background:rgba(0,0,0,0.05);
}
.slide:nth-child(even){
	background:rgba(0,0,0,0.1);
}
.slidetitle{
	font-size:150px;
	line-height:250px;
	font-weight:bold;
	text-align:center;
	color:rgba(0,0,0,0.1);
}


.slider .slider_nav{
	position:absolute;
	width:100%;
	bottom:60px;
	font-size:0;
	line-height:0;
	z-index:100;
}


.photo-slider .slider .slider_nav {
    margin-bottom: -75px 
}
.slider .slider_navdot{
	width:8px;
	height:8px;
	margin:0 4px;
	border:1px solid #fff;
	background:none;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-indent:-9999px;
}
.slider .slider_navdot.current{
	background:#fff;
}

.slider .slide_left,
.slider .slide_right{
	display:block;
	position:absolute;
	top:48%;
	left:10px;
	padding:10px;
}
.slider .slide_right{
	left:auto;
	right:10px;
}

.photo-slider .slider .slide_left, .photo-slider .slider .slide_right{ display:none !important;}





.slider.vertical .slide_left,
.slider.vertical .slide_right{
	width:100px;
	left:50%;
	top:10px;
	margin:0 -60px;
	text-align:center;
}
.slider.vertical .slide_right{
	top:auto;
	bottom:10px;
}
.slider.vertical .slider_nav{
	width:6px;
	height:56px;
	top:97px;
	left:auto;
	bottom:auto;
	right:10px;
}
.slider.vertical .slider_navdot{
	margin:4px 0;
}





.banner1 {
	width:100%;
	height:454px;
	background-image:url(../images/banner1.jpg);
	background-position:center top;
}


.banner2 {
	width:100%;
	height:454px;
	background-image:url(../images/banner2.jpg);
	background-position:center top;
}


.banner3 {
	width:100%;
	height:454px;
	background-image:url(../images/banner3.jpg);
	background-position:center top;
}


.banner4 {
	width:100%;
	height:454px;
	background-image:url(../images/banner4.jpg);
	background-position:center top;
}


.banner-caption  {padding-top:200px; color:#fff; width:1200px; margin:auto; font-size:20px; font-family:Montserrat, Arial, Helvetica, sans-serif;  text-align:center; text-transform:uppercase; letter-spacing:4px;}

.banner-caption span {
	color:#fff;
	font-size:50px;
	line-height:80px;
	padding:0px;
	box-sizing:border-box;
	display:block;
	width:1200px;
	margin:auto;
	font-weight:bold;
	font-family:Bitter, Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	letter-spacing:0px;
}












