{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>{% block title %}{% endblock title %} | Deshbandhu College, University of Delhi</title>
  <!-- InstanceEndEditable -->
  <meta name="google-site-verification" content="J2A4MhR1KdZQLjMOCKWTTM0wZAGYrYC5Iybshgf0NKU" />
  <meta name="description" content="Deshbandhu College, established in 1952, is a college located in Kalkaji, New Delhi and is a constituent college of Universty of Delhi" />
  <meta name="keywords" content="deshbandhu college, deshbandhu gupta college, university of delhi, delhi university" />
  <meta name="authro" content="Delhi Nerds" />
  <link rel= "icon" href="{% static "images/favicon.png" %}" type="image/ico"  />
  <link rel="stylesheet" type="text/css" href="{% static "css/contentslider.css" %}" />
  <script type="text/javascript" src="{% static "js/contentslider.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "css/featuredcontentglider.css" %}" />
  <script type="text/javascript" src="{% static "js/featuredcontentglider.js" %}"></script>
  <script type="text/javascript">

  featuredcontentglider.init({
    gliderid: "canadaprovinces", //ID of main glider container
    contentclass: "glidecontent", //Shared CSS class name of each glider content
    togglerid: "p-select", //ID of toggler container
    remotecontent: "", //Get gliding contents from external file on server? "filename" or "" to disable
    selected: 0, //Default selected content index (0=1st)
    persiststate: false, //Remember last content shown within browser session (true/false)?
    speed: 500, //Glide animation duration (in milliseconds)
    direction: "rightleNo content exists at page 1! Loading 1st page instead.ft", //set direction of glide: "updown", "downup", "leftright", or "rightleft"
    autorotate: true, //Auto rotate contents (true/false)?
    autorotateconfig: [6000, 2], //if auto rotate enabled, set [milliseconds_btw_rotations, cycles_before_stopping]
    onChange: function(previndex, curindex, $allcontents){ // fires when Glider changes slides
      //custom code here
    }
  });


  featuredcontentglider.init({
    gliderid: "canadaprovinces2", //ID of main glider container
    contentclass: "glidecontent", //Shared CSS class name of each glider content

    togglerid: "p-select2", //ID of toggler container
    remotecontent: "", //Get gliding contents from external file on server? "filename" or "" to disable
    selected: 0, //Default selected content index (0=1st)
    persiststate: false, //Remember last content shown within browser session (true/false)?
    speed: 500, //Glide animation duration (in milliseconds)
    direction: "rightleft", //set direction of glide: "updown", "downup", "leftright", or "rightleft"
    autorotate: true, //Auto rotate contents (true/false)?
    autorotateconfig: [6000, 2], //if auto rotate enabled, set [milliseconds_btw_rotations, cycles_before_stopping]
    onChange: function(previndex, curindex, $allcontents){ // fires when Glider changes slides
      //custom code here
    }
  });
  </script>
  <script type="text/javascript">
  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if(e.style.display == 'block')
    e.style.display = 'none';
    else
    e.style.display = 'block';
  }
  </script>
  <!-- Banner -->
  <link href="{% static "banner/prrple.slider.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "banner/banner.css" %}" rel="stylesheet" type="text/css" />
  <script src="{% static "banner/jquery.1.11.1.min.js" %}"></script>
  <script src="{% static "banner/jquery.touchSwipe.1.6.min.js" %}"></script>
  <script src="{% static "banner/prrple.slider.js" %}"></script>
  <script src="{% static "banner/scripts.js" %}"></script>
  <script src="{% static "banner/modernizr.js" %}"></script>
  <script src="{% static "js/menu.js" %}"></script>
  <!-- Banner -->
  <link href="{% static "css/menu.css" %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/custom-responsive.css" %}" />
  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable -->
  <script type="text/javascript" src="{% static "js/slider.jquery.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
  <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
  <script src="{% static "js/owl.carousel.min.js" %}"></script>

  <style type="text/css">
  .item{
    margin: 0px;
    width: 150px;
  }
  </style>

</head>

<body>

  {% include "header.html" %}

  {% block content %}
  {% endblock content %}

  {% include "footer.html" %}

</body>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-102175540-1', 'auto');
ga('send', 'pageview');

</script>

</html>
