{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Contact
{% endblock title %}

{% block content %}

<!-- Banner Starts -->
<!-- InstanceBeginEditable name="EditRegion4" -->
<div class="inside-banner" style="background-image:url(../static/images/banner-students.jpg);">
  <div class="grid-1200">
    Contact Us
  </div>
</div>
<!-- InstanceEndEditable -->
<!-- Banner Ends-->
<!-- Content Area  Starts -->
<div class="grid-1200">
  <!-- InstanceBeginEditable name="main" -->
  <div class="contact-details-box">
    <strong>Phone : </strong>011- 26439565,011-26235542<br/>
    <strong>Anti-Ragging: </strong> +91-9818385270<br />
    <strong>Fax :</strong> 011-26449396<br/>
    <strong>Directory :</strong> Coming Soon…<br/>
    <strong>E-mail :</strong> <a href="mailto:dbcollege.du@gmail.com">dbcollege.du@gmail.com</a>
  </div>
  <div class="map-box">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14019.924665925255!2d77.2543818!3d28.5402858!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7db7761a2c2c9bb9!2sDeshbandhu+College!5e0!3m2!1sen!2sin!4v1459888893168" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="gap"></div>
  <!-- InstanceEndEditable -->
</div>

<!-- Content Area  Ends -->

{% endblock content %}
