{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Departments
{% endblock title %}

{% block content %}
<!-- Banner Starts -->
<!-- InstanceBeginEditable name="EditRegion4" -->
<div class="inside-banner" style="background-image:url(images/banner-students.jpg);">
  <div class="grid-1200">
    Departments
  </div>
</div>
<!-- InstanceEndEditable -->
<!-- Banner Ends-->

<!-- Content Area  Starts -->
<div class="grid-1200">
  <!-- InstanceBeginEditable name="main" -->
  <h2>Departments</h2>

  {% for each in departments %}
  <div class="subject-box">
    <a href="{% url "website:department" each.pk each.name|slugify %}">
      <img src="{{each.image.url}}" />
      <span>{{each.name}}</span>
    </a>
  </div>
  {% endfor %}

  <!-- InstanceEndEditable -->
</div>

<!-- Content Area  Ends -->

{% endblock content %}
