{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Department of {{dept.name}}
{% endblock title %}

{% block content %}

<div class="grid-1200" style="margin-top:100px;">
  <!-- InstanceBeginEditable name="main" -->
  <h2>Department of {{dept.name}}</h2>
  <img src="{{dept.image.url}}" class="rounded-image"/>
  <p>{{dept.description|safe}}</p>
  <br />
  <div class="cream-box">
    <div class="half-left">
      {{dept.side1desc|safe}}
    </div>
    <div class="half-right">
      {{dept.side2desc|safe}}
    </div>
  </div>
  <!-- InstanceEndEditable -->
</div>

<!-- Content Area  Ends -->

{% endblock content %}
