{% load staticfiles %}
<div class="clear"></div>
<!-- Footer  Starts -->
<footer>
	<div class="grid-1200">
		<div class="footer-column">
			<h5>About Us</h5>
			<ul>
				<li ><a href="/pages/about/chairmans-address/">The Chairman's Address</a></li>
				<li ><a href="/pages/about/principal-desk/">From the Principal's Desk</a></li>
				<li ><a href="/pages/about/college-profile/">College Profile</a></li>
				<li ><a href="/pages/awards/">Awards</a></li>
				<li ><a href="/pages/innovation-projects/">Innovation Projects</a></li>
				<li ><a href="/governing-body/">Governing Body</a></li>
				<li ><a href="/admin-staff/">Administrative and Accounts Staff</a></li>				
			</ul>
		</div>
		<div class="footer-column">
			<h5>Admission</h5>
			<ul>
				<li ><a href="/pages/admission/information-brochure/">Information Brochure</a></li>
				<li ><a href="/pages/admission/important-dates/">Important dates</a></li>
				<li ><a href="/pages/admission/cbcs-courses/">CBCS Courses offered</a></li>
				<li ><a href="/pages/admission/general-information/">General Information</a></li>
				<li ><a href="/pages/admission/application-process/">Application Process</a></li>
				<li ><a href="/pages/admission/procedure/">Admission Procedure</a></li>
				<li ><a href="/pages/admission/sports-admission/">Sports Admission</a></li>
				<li ><a href="/pages/admission/eca-admissions/">ECA Admissions</a></li>
				<li ><a href="/pages/admission/fee-structure/">Fee Structure</a></li>
				<li ><a href="/pages/admission/cancellation-and-refund/">Admission Cancellation and Refund</a></li>
				<li ><a href="/pages/admission/cut-offs/">Cut-Offs 2016-2017</a></li>
				<li ><a href="/pages/admission/financial-assitance/">Financial Assistance</a></li>
			</ul>
		</div>
		<div class="footer-column">
			<h5>Academics</h5>
			<ul>
				<li ><a href="{% url "website:departments-index" %}">Departments</a></li>
				<li ><a href="http://www.du.ac.in/du/index.php?page=examinations" target="_blank">Examinations</a></li>
				<li ><a href="/pages/academics/distance-learning/">Distance Learning</a></li>
			</ul>
		</div>
		<div class="footer-column">
			<h5>Student Zone</h5>
			<ul>
				<li><a href="/pages/student/campus-life">Campus Life</a></li>
				<li><a href="/pages/student/time-table/">Time Table</a></li>
				<li><a href="/pages/student/internal-assesment/">Internal Assessment</a></li>
				<li><a href="/pages/student/attendance/">Attendance</a></li>
				<li><a href="/pages/student/attendance-rules/">Attendance Rules</a></li>
				<li><a href="/pages/student/results/">Results</a></li>
				<li><a href="/pages/student/prizes/">Gold Medals and Prizes</a></li>
				<li><a href="/pages/student/scholarships/">Scholarships</a></li>
				<li><a href="/student-union/">Student Union</a></li>
				<li><a href="/pages/student/dusu-elections/">DUSU Elections</a></li>
				<li><a href="/pages/student/online-fee-payment/">Online Fee Payment</a></li>
				<li><a href="/pages/student/placement-cell/">Placement Cell</a></li>
				<li><a href="/pages/student/identity-card/">Identity Card </a></li>
				<li><a href="/pages/student/student-grievance-committee/">Student Grievance Committee</a></li>
				<li><a href="/pages/student/special-category-enabling-committee/">Special Category Enabling Committee</a></li>
			</ul>
		</div>
		<div class="footer-column">
			<h5><a href="aoc.html">Add-on Courses</a></h5>
			<ul>
				<li><a href="/pages/aoc/dot-net/">.NET</a></li>
				<li><a href="/pages/aoc/sme/">SME</a></li>
				<li><a href="/pages/aoc/smo/">SMO</a></li>
				<li><a href="/pages/aoc/para-legal">Paralegal</a></li>
				<li><a href="/pages/aoc/tally/">Tally</a></li>
				<li><a href="/pages/aoc/jyotish/">Jyotish and Vastu Shastra</a></li>
			</ul>
		</div>
		<div class="footer-column">
			<h5>More</h5>
			<ul>
				<li ><a href="http://www.du.ac.in/du/index.php?page=academic-calender" target="_blank">Academic calendar</a></li>
				<li><a href="{% static "prospectus2016.pdf" %}">Prospectus 2016</a></li>
				<li ><a href="http://www.du.ac.in/du/uploads/Guidelines/29122015_Holidays2016.pdf" target="_blank">List of holidays 2016-2017</a></li>
				<li ><a href="/pages/appointments/">Appointments/Vacancies</a></li>
				<li ><a href="/pages/rti/">RTI</a></li>
				<li ><a href="/pages/college-roster/">College Roster</a></li>
				<li ><a href="/pages/facilities/">Facilities</a></li>
				<li ><a href="/pages/reservation-cell/">SC/ST/OBC Cell</a></li>
				<li ><a href="/pages/tenders/">Tenders/Quotations </a></li>
				<li ><a href="/pages/rules-of-discipline/">Rules of Discipline</a></li>
				<li ><a href="/pages/anti-smoking-campaign">Anti-Smoking Campaign</a></li>
				<li ><a href="/pages/some-freee-zone/">Smoke Free Zone</a></li>
				<li ><a href="/pages/prevention-of-sexual-harrasment/">Prevention of Sexual Harassment</a></li>
				<li ><a href="/pages/college-committees/">College Committees</a></li>
				<li ><a href="/pages/cas2010/">CAS-2010</a></li>
				<li><a href="{% static "naac.pdf" %}">NAAC Self Study Report</a></li>
				<li><a href="{% static "annual-report.pdf" %}">Annual Report</a></li>
		</div>
	</div>
</footer>
<!-- Footer  Ends -->
<div class="copyright">
	<div class="grid-1200">
		<div class="copyright-left">
			Copyright © 2016 Deshbandhu College. All Rights Reserved.
		</div>
		<div class="designed">
			Designed, developed and managed by <a href="http://www.delhinerds.com" target="_blank">Delhi Nerds</a>
		</div>
	</div>
</div>
