{% load staticfiles %}
<header>
  <div class="grid-1200">

    <div class="three-lines"><img src="{% static "images/three-lines.png" %}" /></div>

    <div class="logo"><a href="{% url "website:index" %}"><img src="{% static "images/logo.png" %}" /></a></div>

    <div class="social-media">
      <a href="#"><img src="{% static "images/facebook.png" %}" /></a>
      <a href="#"><img src="{% static "images/twitter.png" %}" /></a>
      <a href="#"><img src="{% static "images/instagram.png" %}" /></a>
      <a href="#"><img src="{% static "images/linkedin.png" %}" /></a>
    </div>

    <div class="search"><input name="" type="text" class="text-searchbox" value="Search" /><input name="" type="button"  class="go" /></div>
  </div>
</header>

<div class="top-navigation" id="top-navigation">
  <div class="nav_wrapper">

    <div class="spinner-master">
      <input type="checkbox" id="spinner-form" />
      <label for="spinner-form" class="spinner-spin">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
    </div>
    <nav id="menu" class="menu">
      <ul class="dropdown">
        <li ><a href="{% url "website:index" %}" >Home</a>

          <li ><a href="#">About Us</a>
            <ul>
              <li ><a href="/pages/about/chairmans-address/">The Chairman's Address</a></li>
              <li ><a href="/pages/about/principal-desk/">From the Principal's Desk</a></li>
              <li ><a href="/pages/about/college-profile/">College Profile</a></li>
            </ul>
          </li>

          <li ><a href="#" target="_blank" >Admission</a>
            <ul>
              <li ><a href="/pages/admission/information-brochure/">Information Brochure</a></li>
              <li ><a href="/pages/admission/important-dates/">Important dates</a></li>
              <li ><a href="/pages/admission/cbcs-courses/">CBCS Courses offered</a></li>
              <li ><a href="/pages/admission/general-information/">General Information</a></li>
              <li ><a href="/pages/admission/application-process/">Application Process</a></li>
              <li ><a href="/pages/admission/procedure/">Admission Procedure</a></li>
              <li ><a href="/pages/admission/sports-admission/">Sports Admission</a></li>
              <li ><a href="/pages/admission/eca-admissions/">ECA Admissions</a></li>
              <li ><a href="/pages/admission/fee-structure/">Fee Structure</a></li>
              <li ><a href="/pages/admission/cancellation-and-refund/">Admission Cancellation and Refund</a></li>
              <li ><a href="/pages/admission/cut-offs/">Cut-Offs 2016-2017</a></li>
              <li ><a href="/pages/admission/financial-assitance/">Financial Assistance</a></li>
            </ul>
          </li>

          <li ><a href="#"  target="_blank" >Academics</a>
            <ul>
              <li ><a href="{% url "website:departments-index" %}">Departments</a></li>
              <li ><a href="http://www.du.ac.in/du/index.php?page=examinations" target="_blank">Examinations</a></li>
              <li ><a href="/pages/academics/distance-learning/">Distance Learning</a></li>
            </ul>
          </li>

          <li ><a href="/pages/student/">Student</a>
            <ul>
              <li><a href="/pages/student/campus-life">Campus Life</a></li>
              <li><a href="/pages/student/time-table/">Time Table</a></li>
              <li><a href="/pages/student/internal-assesment/">Internal Assessment</a></li>
              <li><a href="/pages/student/attendance/">Attendance</a></li>
              <li><a href="/pages/student/attendance-rules/">Attendance Rules</a></li>
              <li><a href="/pages/student/results/">Results</a></li>
              <li><a href="/pages/student/prizes/">Gold Medals and Prizes</a></li>
              <li><a href="/pages/student/scholarships/">Scholarships</a></li>
              <li><a href="/student-union/">Student Union</a></li>
              <li><a href="/pages/student/dusu-elections/">DUSU Elections</a></li>
              <li><a href="/pages/student/online-fee-payment/">Online Fee Payment</a></li>
              <li><a href="/pages/student/placement-cell/">Placement Cell</a></li>
              <li><a href="/pages/student/identity-card/">Identity Card </a></li>
              <li><a href="/pages/student/student-grievance-committee/">Student Grievance Committee</a></li>
              <li><a href="/pages/student/special-category-enabling-committee/">Special Category Enabling Committee</a></li>
            </ul>
          </li>

          <li ><a href="{% url "website:library-index" %}">Library</a></li>

          <li ><a href="#">Alumni</a>
            <ul>
              <li ><a href="/pages/alumni/registration/">Registration</a></li>
              <li ><a href="/pages/alumni/alumni/">Alumni</a></li>
              <li ><a href="/pages/alumni/news-events/">News and Events</a></li>
              <li ><a href="/pages/alumni/search-members/">Search Members</a></li>
              <li ><a href="/pages/alumni-directory">Alumni Directory </a></li>
            </ul>
          </li>

          <li ><a href="/pages/useful-links/">Useful Links</a></li>

          <li ><a href="#">More</a>
            <ul>
              <li ><a href="http://www.du.ac.in/du/index.php?page=academic-calender" target="_blank">Academic calendar</a></li>
              <li><a href="{% static "prospectus2016.pdf" %}">Prospectus 2016</a></li>
              <li ><a href="{% static "holidays.pdf" %}" target="_blank">List of holidays 2017-2018</a></li>
              <li ><a href="/pages/appointments/">Appointments/Vacancies</a></li>
              <li ><a href="/pages/rti/">RTI</a></li>
              <li ><a href="/pages/college-roster/">College Roster</a></li>
              <li ><a href="/pages/facilities/">Facilities</a></li>
              <li ><a href="/pages/reservation-cell/">SC/ST/OBC Cell</a></li>
              <li ><a href="/pages/tenders/">Tenders/Quotations </a></li>
              <li ><a href="/pages/rules-of-discipline/">Rules of Discipline</a></li>
              <li ><a href="/pages/anti-smoking-campaign">Anti-Smoking Campaign</a></li>
              <li ><a href="/pages/some-freee-zone/">Smoke Free Zone</a></li>
              <li ><a href="/pages/prevention-of-sexual-harrasment/">Prevention of Sexual Harassment</a></li>
              <li ><a href="/pages/college-committees/">College Committees</a></li>
              <li ><a href="/pages/cas2010/">CAS-2010</a></li>
              <li><a href="{% static "naac.pdf" %}">NAAC Self Study Report</a></li>
              <li><a href="{% static "annual-report.pdf" %}">Annual Report</a></li>
            </ul>
          </li>
          <li><a href="{% url "website:contact" %}">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
