{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Home
{% endblock title %}

{% block content %}

<!-- Banner Starts -->
<div class="container" id="slider5">
	<div class="slider">
		<div class="slider_area">
			<div class="slides">
				<div class="slide">
					<div class="banner1"><div class="banner-caption">Spirited Folk Dancers at <span>SABRANG 2016</span></div></div>
				</div>
				<div class="slide">
					<div class="banner2"><div class="banner-caption"><span>Constitution Day gathering</span> in Rapt Attention at Deshbandhu College</div></div>
				</div>
				<div class="slide">
					<div class="banner3"><div class="banner-caption" style="padding-top:150px">Hon'ble Governor of Gujarat<span>Shri Om Prakash Kohli </span>addresses the gathering at his <br />Alma Mater Deshbandhu College </div></div>
				</div>
				<div class="slide">
					<div class="banner4"><div class="banner-caption"><span>Mash-up Creativity Soars </span>at Deshbandhu College</div></div>
				</div>
			</div>
		</div>
		<div class="slider_nav"></div>
		<a class="slide_left"><img src="{% static "images/banner-arrow1.png" %}"  /></a>
		<a class="slide_right"><img src="{% static "images/banner-arrow2.png" %}"  /></a>
	</div>
</div>

<div class="grid-1200">
	<div class="half float-left" id="message-1">
		<div class="photo-box"><img src="{% static "images/principle.png" %}" />Dr. Ajay Kumar <br />Arora</div>
		<h2>From the Principal's Desk</h2>
		<p>The Deshbandhu College fraternity welcomes you and is very happy to embrace you in its fold. The south Delhi, Deshbandhu College is one of the oldest landmark institutions in the family of the colleges of the University of Delhi. </p>
		<p><a href="/pages/about/principal-desk/" class="readmore">read more</a></p>
	</div>
	<div class="half float-right" id="message-2">
		<div class="photo-box"><img src="{% static "images/chairman.png" %}" />Dr. Prakash Nanda</div>
		<h2>The Chairman’s Address</h2>
		<p>Welcome to Desh Bandhu College, a college with rich legacy, glorious past, rich present and a promising future. Education is the most powerful weapon which you can use to change the world; it not only is...</p>
		<p><a href="/pages/about/chairmans-address/" class="readmore">read more</a></p>
	</div>
</div>

<div class="cream-bg">
	<div class="grid-1200">
		<div class="twenty-five-percent">
			<h3>Student Zone</h3>
			<a href="/page/student/"><img src="{% static "images/home-pic1.png" %}"  /></a>
			<p>A peep into student activities at Deshbandhu </p>
			<a href="/pages/student/" class="readmore">read more</a>
		</div>
		<div class="twenty-five-percent">
			<h3>Digital Library</h3>
			<a href="#"><img src="{% static "images/home-pic2.png" %}"  /></a>
			<p>The world of knowledge</p>
			<a href="{% url "website:library-index" %}" class="readmore">read more</a>
		</div>
		<div class="twenty-five-percent">
			<h3>Notice Board</h3>
			<a href="/pages/notice-board/"><img src="{% static "images/home-pic3.png" %}"  /></a>
			<p>To be abreast with the latest</p>
			<a href="/pages/notice-board/" class="readmore">read more</a>
		</div>
		<div class="twenty-five-percent no-margin">
			<h3>Events</h3>
			<a href="/events/"><img src="{% static "images/home-pic4.png" %}"  /></a>
			<p>About happenings in college</p>
			<a href="/events/" class="readmore">read more</a>
		</div>
	</div>
</div>
<div class="grid-1200">
	<div class="home-left-panel">
		<h2>Photo Gallery</h2>
		<div id="slider1" class="sliderwrapper">
			<div class="contentdiv"><img src="{% static "images/photo1.jpg" %}"  /></div>
			<div class="contentdiv"><img src="{% static "images/photo2.jpg" %}"  /></div>
			<div class="contentdiv"><img src="{% static "images/photo3.jpg" %}"  /></div>
			<div class="contentdiv"><img src="{% static "images/photo4.jpg" %}"  /></div>
			<div class="contentdiv"><img src="{% static "images/photo5.jpg" %}"  /></div>
			<div class="contentdiv"><img src="{% static "images/photo6.jpg" %}"  /></div>
		</div>
		<div id="paginate-slider1" class="pagination">
		</div>
		<script type="text/javascript">
		featuredcontentslider.init({
			id: "slider1",  //id of main slider DIV
			contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
			toc: "#increment",  //Valid values: "#increment", "markup", ["label1", "label2", etc]
			nextprev: ["Previous", "Next"],  //labels for "prev" and "next" links. Set to "" to hide.
			revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
			enablefade: [true, 0.2],  //[true/false, fadedegree]
			autorotate: [true, 3000],  //[true/false, pausetime]
			onChange: function(previndex, curindex, contentdivs){  //event handler fired whenever script changes slide
				//previndex holds index of last slide viewed b4 current (0=1st slide, 1=2nd etc)
				//curindex holds index of currently shown slide (0=1st slide, 1=2nd etc)
			}
		})
		</script>
	</div>

	<div class="home-right-panel">

		<h2>Our Staff</h2>

		<div id="staff-box-1">

			<div id="p-select" class="glidecontenttoggler">
				GB Consitution
				<a href="#" class="next"><img src="{% static "images/small-arrow2.png" %}"  /></a>
				<img src="{% static "images/pipe.png" %}"  class="pipe" />
				<a href="#" class="prev"><img src="{% static "images/small-arrow1.png" %}"  /></a>
			</div>

			<div id="canadaprovinces" class="glidecontentwrapper">
				{% if gb %}
					{% for each in gb %}
						<div class="glidecontent">
							<img src="{{each.picture.url}}" style="height:125px;" />
							<strong>{{each.name}}</strong>
							{{each.title}}
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<br />
		<div id="staff-box-2">

			<div id="p-select2" class="glidecontenttoggler">
				Adminstrative Staff
				<a href="#" class="next"><img src="{% static "images/small-arrow2.png" %}"  /></a>
				<img src="{% static "images/pipe.png" %}"  class="pipe" />
				<a href="#" class="prev"><img src="{% static "images/small-arrow1.png" %}"  /></a>
			</div>
			<div id="canadaprovinces2" class="glidecontentwrapper">
				{% if staff %}
					{% for each in staff %}
						<div class="glidecontent">
							<img src="{{each.picture.url}}" style="height:125px;"  />
							<strong>{{each.name}}</strong>
							{{each.title}}
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

</div>

{% endblock content %}
