{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Library
{% endblock title %}

{% block content %}

<!-- Banner Starts -->
<!-- InstanceBeginEditable name="EditRegion4" -->
<div class="library-banner" style="max-height:350px;">

  <div class="grid-1200" style="margin-top:20px;">
    <div class="other-libraries">
      <a href="/pages/library/duls/">Delhi University <br />Library System </a>
      <a href="/pages/library/digital-library/">Digital Library</a>
      <a href="/pages/library/electronic-resources/">Electronic Resources in Public Domain</a>
      <a href="http://crl.du.ac.in/atozn">A-Z</a>
    </div>
    <div class="other-libraries" style="margin-top:0px;">
      <a href="/pages/library/delnet/">DELNET</a>
      <a href="http://112.196.165.122:8080/webopac" target="_blank">Webopac</a>
    </div>
  </div>
</div>

<div class="yellow">
  <div class="grid-1200">
    <div class="library-icon">
      <a href="/pages/library/about/"><img src="{% static "images/icon-books.png" %}" />about library </a>
    </div>
    <div class="library-icon">
      <a href="/pages/library/rules/"><img src="{% static "images/icon-rules.png" %}" />Library Rules</a>
    </div>
    <div class="library-icon" style="border-right:1px solid #000">
      <a href="/pages/library/n-list/"><img src="{% static "images/icon-list.png" %}" />N-List</a>
    </div>
  </div>
</div>


    <div class="cream-bg" style="padding-top:20px;">
      <div class="grid-1200">
        <h3>New Arrivals</h3>
        <div class="owl-carousel owl-theme" style="max-width:1200px;">
          {% for each in newarrivals %}
            <div class="item"><img src="{{each.image.url}}" alt=""></div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script type="text/javascript">
    $('.owl-carousel').owlCarousel({
    margin:10,
    autoWidth:true,
    items:10,
    autoPlay: true,
    })
    </script>

    <div class="grid-1200">
      <!-- InstanceBeginEditable name="main" -->
      <div class="grid-1200" style="margin-bottom:35px;">
        <div class="column-1">
          <h3>Syllabus</h3>
          <ul class="listing" id="subjects">
            <li>
              B.Sc.(Hons.)<br />
              <a href="{% static "syllabus/B.Sc.-Hons-Physics.pdf" %}" target="_blank">Physics</a>,
              <a href="{% static "syllabus/B.Sc.-Hons.-Biochemistry.pdf" %}" target="_blank">BioChemistry</a>,
              <a href="{% static "syllabus/B.Sc.-Hons.-Botany.pdf" %}" target="_blank">Botany</a>,
              <a href="{% static "syllabus/B.Sc.-Hons.-Chemistry.pdf" %}" target="_blank">Chemistry</a>, <br />
              <a href="{% static "syllabus/B.Sc.-Hons.-Mathematics.pdf" %}" target="_blank">Mathematics</a>,
              <a href="{% static "syllabus/B.Sc.-Hons.-Zoology.pdf" %}" target="_blank">Zoology</a>
            </li>
            <li>B.Sc.(Prog.)<br />
              <a href="{% static "syllabus/B.Sc.-Prog-Life-Sci.-Bot.-Chem.-Zoo.pdf" %}" target="_blank">Life Sci, Bot, Che, Zoo...</a>,
              <a href="{% static "syllabus/B.Sc.-Prog-with-Industrial-Chemistry.pdf" %}" target="_blank">Industrial Chemistry</a>,
              <a href="{% static "syllabus/B.Sc.-Prog.-Comp-Science.pdf" %}" target="_blank">Comp Science</a>,
            </li>
            <li>B.A.(Hons200.)<br />
              <a href="{% static "syllabus/B.A.-Hons.-Hindi.pdf" %}" target="_blank">Hindi</a>,
              <a href="{% static "syllabus/B.A.-Hons.-English.pdf" %}" target="_blank">English</a>,
              <a href="{% static "syllabus/B.A.-Hons.-History.pdf" %}" target="_blank">History</a>,
              <a href="{% static "syllabus/B.A.-Hons-Pol.-Science.pdf" %}" target="_blank">Pol. Science</a>, <br />
            </li>
            <li>B.A.(Prog.)<br />
              <a href="{% static "syllabus/B.A.-Prog.-Hindi.pdf" %}" target="_blank">Hindi</a>,
              <a href="{% static "syllabus/B.A.-Prog.-Functional-Hindi.pdf" %}" target="_blank">Functional Hindi</a>,
              <a href="{% static "syllabus/B.A.-Prog.-English.pdf" %}" target="_blank">English</a>,
              <a href="{% static "syllabus/B.A.-Prog.-History.pdf" %}" target="_blank">History</a>,
              <a href="{% static "syllabus/B.A.-Prog.-Economics.pdf" %}" target="_blank">Economics</a>, <br />
              <a href="{% static "syllabus/B.A.-Prog.-Philosophy.pdf" %}" target="_blank">Philosophy</a>,
              <a href="{% static "syllabus/B.A.-Prog.-Political-Science.pdf" %}" target="_blank">Political Science</a>,
              <a href="{% static "syllabus/B.A.-Prog.-Sanskrit.pdf" %}" target="_blank">Sanskrit</a>
            </li>
          </ul>
        </div>
        <div class="column-2">
          <h3>Library Services</h3>
          <ul class="listing">
            <li>Reference Service</li>
            <li>Circulation Service</li>
            <li>Question Bank</li>
            <li>Syllabus Bank</li>
            <li>Audio Service</li>
            <li>Book Bank Service</li>
            <li>Open Access</li>
          </ul>
        </div>
        <div class="column-3">
          <h3>Library Statistics</h3>
          <ul class="listing">
            <li><a href="{% static "library/Books Purchased during 2013-2014.pdf" %}">Books Purchased during 2013-2014</a></li>
            <li><a href="{% static "library/Books Purchased during 2014-2015.pdf" %}">Books purchased during 2014-2015</a></li>
            <li><a href="{% static "library/Books Purchased during 2015-2016.pdf" %}">Books purchased during 2015-2016</a></li>
            <li><a href="{% static "library/Books purchased for Book Bank during 2013-2014.pdf" %}">Books purchased for Book Bank During 2013-2014</a></li>
            <li><a href="{% static "library/Books purchased for Book Bank during 2014-2015.pdf" %}">Books purchased for Book Bank During 2014-2015</a></li>
            <li><a href="{% static "library/Books purchased for Book Bank during 2015-2016.pdf" %}">Books purchased for Book Bank During 2015-2016</a></li>
          </ul>
        </div>
        <div class="column-4">
          <h3>Library Facilities</h3>
          <ul class="listing">
            <li>Airconditioned Reading Hall</li>
            <li>Touch screen information kiosks</li>
            <li>Reading facilities for visual challenged students</li>
            <li>WebOpac Facility</li>
            <li>WiFi enabled library</li>
            <li>CCTV Surveillance in Library</li>
            <li>Library Users can see their transactions through Installed LED at Circulation Counter.</li>
          </ul>
        </div>
      </div>
      <!-- <div class="hline"></div>
      <div class="grid-1200" id="library-staff">
        <h3><a href="library-staff.html">Know Our Library Staff</a></h3>
      </div> -->
      <div class="hline"></div>
        <!-- InstanceEndEditable -->
      </div>
      <!-- Content Area  Ends -->

      <div class="grid-1200">
        <!-- InstanceBeginEditable name="main" -->
        <div class="grid-1200">
          <div class="half float-left">
            <h3>Librarian</h3>
            <img src="{% static "images/Shalender.gif" %}" class="float-left" />
            <p style="max-width:550px; margin-left:15px;">Shalender Singh Chauhan, librarian, has been associated with the college as the librarian since 2007 <a href="{% static "schauhan-resume.pdf" %}">readmore</a></p>
          </div>
          <div class="half float-right">
            <div id="p-select2" class="glidecontenttoggler">
      				Library Staff
      				<a href="#" class="next"><img src="{% static "images/small-arrow2.png" %}"  /></a>
      				<img src="{% static "images/pipe.png" %}"  class="pipe" />
      				<a href="#" class="prev"><img src="{% static "images/small-arrow1.png" %}"  /></a>
      			</div>
            <div id="canadaprovinces2" class="glidecontentwrapper">
      				{% if staff %}
      					{% for each in staff %}
      						<div class="glidecontent">
      							<img src="{{each.image.url}}" style="height:125px;"  />
      							<strong>{{each.name}}</strong>
      							{{each.title}}
      						</div>
      					{% endfor %}
      				{% endif %}
      			</div>

          </div>
        </div>
        <!-- <div class="hline"></div>
        <div class="grid-1200" id="library-staff">
          <h3><a href="library-staff.html">Know Our Library Staff</a></h3>
        </div> -->
        <!-- <div class="hline"></div> -->
          <!-- InstanceEndEditable -->
      </div>
        <!-- Content Area  Ends -->

      <div class="gray" style="border-bottom:1px solid #ccc;">
        <div class="grid-1200">
          <div class="half float-left">
            <img src="{% static "images/library-icon1.png" %}" class="big-icon" />
            <h6>Timings</h6>
            <p>
              Circulation Section................. 9.00 AM to 4.00 PM<br />
              Reading Room..........................9.00 AM to 5.30PM<br />
              Reference Section...................9.00 AM to 5.30PM</p>
            </div>

            <div class="half float-right">
              <img src="{% static "images/library-icon2.png" %}" class="big-icon" />
              <h6>contact details</h6>
              <p>Phone  :  91-11-26439565<br />
                Fax       :  91-11-26439565<br />
                Email   :   <a href="mailto:dbclibrary1@gmail.com">dbclibrary1@gmail.com</a></p>
              </div>
          </div>
      </div>

{% endblock content %}
