{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Departments
{% endblock title %}

{% block content %}
<!-- Banner Starts -->
<!-- InstanceBeginEditable name="EditRegion4" -->
<div class="inside-banner" style="background-image:url(images/banner-students.jpg);">
  <div class="grid-1200">
    Departments
  </div>
</div>
<!-- InstanceEndEditable -->
<!-- Banner Ends-->

<!-- Content Area  Starts -->
<div class="grid-1200">
  <!-- InstanceBeginEditable name="main" -->
  <h2>Student Union Members</h2>

  {% for each in members %}
  <div class="subject-box">
    <a href="#">
      <img src="{{each.picture.url}}" />
      <span>{{each.name}}</span>
      <span>{{each.title}}
    </a>
  </div>
  {% endfor %}

  <!-- InstanceEndEditable -->
</div>

<!-- Content Area  Ends -->

{% endblock content %}
