{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{flatpage.title}}
{% endblock title %}

{% block content %}

<div class="inside-banner" style="background-image:url(/../../static/images/banner-students.jpg);">
  <div class="grid-1200">
    {{flatpage.title}}
  </div>
</div>
<!-- InstanceEndEditable -->
<!-- Banner Ends-->
<!-- Content Area  Starts -->

<div class="grid-1200">
  <!-- InstanceBeginEditable name="main" -->
  <br />
  <br />
  <div class="message-text">
    {{flatpage.content|safe}}
  </div>
  <!-- InstanceEndEditable -->
</div>
<!-- Content Area  Ends -->

{% endblock content %}
