{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% trans "Latest photo galleries" %}{% endblock %}

{% block content %}

	<div class="grid-1200" style="margin-top:50px; margin-bottom:35px;">

    <h2>Latest Events</h2>
		<div class="float-left">
			{% if latest %}
			    {% for gallery in latest %}
			    	{% include "photologue/includes/gallery_sample.html" %}
			    {% endfor %}
			{% else %}
			    <p>{% trans "No galleries were found" %}.</p>
			{% endif %}
		</div>
	</div>

{% endblock %}
